.form-container {
  width: 50%;
  margin: 50px auto;
  margin-top: 50px;
  text-align: start;
  border: 2px solid rgb(245, 243, 243);
  padding: 20px;
  border-radius: 8px;
}
.form-btn {
  width: 100%;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 500;
}
.form-text {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

@media screen and (max-width: 576px) {
  .form-container {
    width: 100%;
  }
}
