.btn-auth {
  width: 25%;
  margin: auto;
  margin-top: -50px;
}
.btn-auth button {
  margin-top: 16px;
  border: none;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(47, 19, 229);
  color: white;
  font-weight: 500;
  padding: 10px 30px;
}
