.blog {
  padding: 50px 120px;
  background-image: linear-gradient(to bottom right, #83e3c6, #9198e5);
}
.text {
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
}
.text-container {
  border: 3px solid rgb(166, 173, 180);
  border-radius: 10px;
  margin-top: 50px;
}
.question {
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .blog {
    padding: 20px;
  }
}
